

    <!--Navbar-->
    <mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-light white">


      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/emploiEtu">
        <img src="assets/images/fstg.jpg" height="30" alt="">
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <links>
        <!-- Links -->
        &nbsp;
        <ul class="navbar-nav mr-auto" style="width: 1072px; margin-left: 60px">
          <li class="nav-item">
          <a class="nav-link"><i (click)="show()" class="pi pi-user iconColor">Profile</i></a>
        </li>
          &nbsp;
          <li class="nav-item">
            <a routerLink="/moduleEtu" class="nav-link"><i class="pi pi-users iconColor">Modules</i></a>
          </li>
          <li class="nav-item">
            <a routerLink="/groupeEtu" href="groupe" class="nav-link"><i class="pi pi-users iconColor">Groupe</i></a>
          </li>
          <li class="nav-item">
            <a routerLink="/justificatif" class="nav-link"><i class="pi pi-star iconColor">Absences</i></a>
          </li>
        </ul>
        <mat-icon [matBadge]="notif" matBadgeColor="primary" (click)="op1.toggle($event)">notifications</mat-icon>
        <p-overlayPanel #op1>
          <ng-template pTemplate>
                <div ui-overlaypanel-content *ngFor="let n of notifications">
                  <p *ngIf="n.state == 'acceptée'">Votre justification a été {{n.state}}</p>
                  <p *ngIf="n.state == 'refusée'">Votre justification a été {{n.state}}</p>
                  <button pButton icon="pi pi-times" class="ui-button-danger" (click)="deleteByAbsence(n.absence)"></button>
                  <div class="dropdown-divider"></div>
                </div>
          </ng-template>
        </p-overlayPanel>
        <i  routerLink="/login" class="iconColor pi pi-sign-out"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- Links -->
        <a class="navbar-brand" href="#">
          <img src="assets/images/logoFst.png" height="30" alt="">
        </a>
      </links>

      <!-- Collapsible content -->
    </mdb-navbar>
    <!--/.Navbar-->

    <p-sidebar [(visible)]="display" [style]="{width:'16em'}">
      <p-header>
        <img [src]="etudiantConnected.src" alt="Avatar" style="width: 160px; height: 150px; border-radius: 50%;">
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput   [(ngModel)]="etudiantConnected.lastName" disabled style="color: black">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput   [(ngModel)]="etudiantConnected.firstName" disabled style="color: black">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>CIN</mat-label>
          <input matInput   [(ngModel)]="etudiantConnected.cin" disabled style="color: black">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>N°SOM</mat-label>
          <input matInput   [(ngModel)]="etudiantConnected.cne" disabled style="color: black">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>N°SOM</mat-label>
          <input matInput   [(ngModel)]="etudiantConnected.codeApogee" disabled style="color: black">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>D.Naissance</mat-label>
          <input matInput   [(ngModel)]="etudiantConnected.birthDay" disabled style="color: black">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Ville</mat-label>
          <input matInput   [(ngModel)]="etudiantConnected.ville" disabled style="color: black">
        </mat-form-field>
      </p-header>
      <p-footer style="align-content: center">
        <button class="ui-button-rounded ui-button-info" ><a routerLink="/profilEtu">Modifier</a></button>
      </p-footer>
    </p-sidebar>
