

    <!--Navbar-->
    <mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-light white">


      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="assets/images/fstg.jpg" height="30" alt="">
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto" style="width: 1121px;">
          <li class="nav-item">
          <a class="nav-link"><i (click)="show()" class="pi pi-user iconColor">Profile</i></a>
        </li>
          <li class="nav-item">
            <a routerLink="/moduleEtu" class="nav-link"><i class="pi pi-users iconColor">Modules</i></a>
          </li>
          <li class="nav-item">
            <a routerLink="/groupeEtu" href="groupe" class="nav-link"><i class="pi pi-users iconColor">Groupe</i></a>
          </li>
          <li class="nav-item">
            <a routerLink="/justificatif" class="nav-link"><i class="pi pi-star iconColor">Absences</i></a>
          </li>
        </ul>
        <i (click)="op1.toggle($event)" class=" iconColor pi pi-bell"></i>
        <p-overlayPanel #op1>
          <ng-template pTemplate>
                <div ui-overlaypanel-content *ngFor="let n of notifications">
                  <p *ngIf="n.state == 'acceptée'">Votre justification a été {{n.state}}</p>
                  <p *ngIf="n.state == 'refusée'">Votre justification a été {{n.state}}</p>
                  <button pButton icon="pi pi-times" class="ui-button-danger" (click)="deleteByAbsence(n.absence)"></button>
                  <div class="dropdown-divider"></div>
                </div>
          </ng-template>
        </p-overlayPanel>
        <i  routerLink="/login" class="iconColor pi pi-sign-out"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- Links -->
        <a class="navbar-brand" href="#">
          <img src="assets/images/logoFst.png" height="30" alt="">
        </a>
      </links>

      <!-- Collapsible content -->
    </mdb-navbar>
    <!--/.Navbar-->

    <p-sidebar [(visible)]="display" [style]="{width:'14em'}">
      <p-header>
        <img src="" >
        Last Name First Name
      </p-header>
      <p>CIN - N°SOM <br> Email <br>Tél <br> J.Naissance </p>
      <p-footer>
        <button class="ui-button-rounded ui-button-info" pButton label="Plus d'info"></button>
      </p-footer>
    </p-sidebar>
