<br>
<div class='app-calendar' *ngIf="calendarVisible">
  <full-calendar
    #calendar
    defaultView="dayGridMonth"
    [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
    lang="fr"
    timeZone="local"
    [plugins]="calendarPlugins"
    editable="true"
    eventLimit="true"
    [businessHours]="hours"
    [weekends]="calendarWeekends"
    [events]="calendarEvents"
    (eventClick)="showBasicDialog($event)">
  </full-calendar>
</div>
<p-dialog header="Demander une excuse d'absence" [style]="{'text-align':'center'}" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form style="text-align: center" method="POST" >
    <div style="display:inline-block" class="form-group">
      <div class="row">
        <div class="ui-inputgroup">
           <span class="ui-float-label" style="margin-top: 10px">
    <input id="float-input" type="texte" name="libelle" disabled [(ngModel)]="sessionFounded.libelle" size="30" pInputText required="required">
    <label for="float-input">libelle</label>
            </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
            <span class="ui-float-label" style="margin-top: 10px">
    <input id="float-input1" type="texte" name="typeSession" disabled [(ngModel)]="sessionFounded.typeSession.reference" size="30" pInputText required="required">
    <label for="float-input1">Type Seance</label>
            </span>
          <input type="texte" name="typeSession" disabled [(ngModel)]="sessionFounded.typeSession.reference">
        </div>
      </div>
      <div class="row" *ngIf="boolean != false">
        <div class="ui-inputgroup" style="margin-top: 10px; width: 225px">
          <textarea [rows]="5" [(ngModel)]="absenceFounded.justification" [cols]="30" name="justification" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
      <br>
    </div>
  </form>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" style="float: left" (click)="update()" label="Envoyer"></button>
    <button type="button" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Annuler" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
<p-dialog header="Justifier une absence" [style]="{'text-align':'center'}" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form style="text-align: center" method="POST" >
    <div style="display:inline-block" class="form-group">
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <input type="texte" name="libelle" disabled [(ngModel)]="sessionFounded.libelle">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <input type="texte" name="typeSession" disabled [(ngModel)]="sessionFounded.typeSession.reference">
        </div>
      </div>
      <div class="row" *ngIf="boolean != false && absenceFounded.absent == true && absenceFounded.justification == null">
        <div class="ui-inputgroup">
          <textarea [rows]="5" [(ngModel)]="absenceFounded.justification" [cols]="30" name="justification" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="boolean != false && absenceFounded.absent == true && absenceFounded.justification == null">
        <div class="ui-inputgroup">
          <input type="file" (change)="onFileChanged($event)" multiple="false" />
        </div>
      </div>
      <br>
    </div>
  </form>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" style="float: left" (click)="update()" label="Envoyer"></button>
    <button type="button" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Annuler" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
