<div class="container">
  <div class="card text-center">
    <div class="card-header">
  <div class="row">
    <div class="col-md-3">
      <button type="button" (click)="showBasicDialog()" pButton icon="pi pi-plus" label="Add a professor"></button>
      <p-dialog  header="Add a new professor" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <form style="text-align: center" method="POST" >
            <div style="display:inline-block" class="form-group">
              <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.numeroSOM" name="numeroSOM" type="number" pInputText placeholder="Numéro de SOM" >
                </div>
              </div>
              <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.cin" name="cin" type="text" pInputText placeholder="Cin">
                  </div>
                </div>
              <br>
              <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.firstName" name="prénom" type="text" pInputText placeholder="Prénom">
                  </div>
                </div>
              <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.lastName" name="nom" type="text" pInputText placeholder="Nom">
                  </div>
                </div>
              <br>
              <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.birthDay" name="jour de naissance" type="date" pInputText placeholder="Jour de naissance">
                  </div>
                </div>
              <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.tel" name="tel" type="tel" pInputText placeholder="Numéro de téléphone">
                  </div>
                </div>
            </div>
              <br>
          <p-footer>
            <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="save()" label="Sauvegarder"></button>
            <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Annuler" class="ui-button-secondary"></button>
          </p-footer>
        </form>
      </p-dialog>
    </div>
    <div class="col-md-3">
      <input type="file" (change)="onFileChange($event)" multiple="false" />
        <p-fileUpload icon="pi pi-upload" customUpload="true" [auto]="true" chooseLabel="Import Professors" (onUpload)="onFileChange($event)" multiple="false" #fubauto mode="basic"  url="./upload.php" accept=".xlsx,.csv" maxFileSize="1000000" ></p-fileUpload>
    </div>
    <div class="col-md-3">
      <p-button label="Donwload example" styleClass="ui-button-warning" (click)="export()" icon="pi pi-download" ></p-button>
    </div>
    <div class="col-md-3">
<span  class="md-form ui-float-label">
    <input [(ngModel)]="searchText" class="form-control"  mdbInput id="search" type="text" size="15">
    <label for="search">Search</label>
    <p-button icon="pi pi-search" styleClass="ui-button-secondary"></p-button>
</span>
    </div>
    </div>
  </div>
    <div class="card-body">
  <div >
    <div>
      <table mdbTable class="z-depth-1" class="table table-bordered " matSort (matSortChange)="sortData($event)">
        <thead>
        <tr>
          <th mat-sort-header="numeroSOM">Numéro de SOM</th>
          <th mat-sort-header="cin">Cin</th>
          <th mat-sort-header="lastName">Nom</th>
          <th mat-sort-header="firstName">Prénom</th>
          <th mat-sort-header="mail">Email</th>
          <th mat-sort-header="birthDay">Jour de naissance</th>
          <th mat-sort-header="tel">Numéro de téléphone</th>
          <th>Département</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of sortedData">
          <td >{{e.numeroSOM}}</td>
          <td>{{e.cin}}</td>
          <td>{{e.lastName}}</td>
          <td>{{e.firstName}}</td>
          <td>{{e.mail}}</td>
          <td>{{e.birthDay}}</td>
          <td>{{e.tel}}</td>
          <td></td>
          <p-button (click)="showBasicDialog2(e)" icon="pi pi-user-edit" styleClass="ui-button-info"></p-button>
          <p-dialog  header="Edit professor" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
            <form style="text-align: center" method="POST" >
              <div style="display:inline-block" class="form-group">
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.numeroSOM" disabled  name="numeroSOM" type="text" pInputText  required>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.cin" disabled name="cin" type="text" pInputText >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.lastName" name="nom" type="text" pInputText >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.firstName" name="prénom" type="text" pInputText >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.mail" name="email" type="email" pInputText>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.birthDay" name="jour de naissance" type="date" pInputText>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.tel" name="tel" type="tel" pInputText >
                  </div>
                </div>
              </div>
              <br>
              <p-footer>
                <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="update()" label="Confirm"></button>
                <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Cancel" class="ui-button-secondary"></button>
              </p-footer>
            </form>
          </p-dialog>
          <p-button icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteByNumeroSOM(e)"></p-button>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
</div>
