<div class="container row">
  <div class="col-md-6">
    <input type="file" (change)="onFileChanged($event)">
  </div>
  <div class="col-md-6">
    <input type="button" (click)="upload()" value="upload">
  </div>
  <div class="col-md-6">
    <input type="number" [(ngModel)]="numeroSOM">
  </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
      <button type="button" (click)="showBasicDialog()" pButton icon="pi pi-plus" label="Add a professor"></button>
      <p-dialog  header="Ajouter un enseignant" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <form style="text-align: center" method="POST" >
            <div style="display:inline-block" class="form-group">
              <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.numeroSOM" name="numeroSOM" type="number" pInputText placeholder="Numéro de SOM" >
                </div>
              </div>
              <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.cin" name="cin" type="text" pInputText placeholder="Cin">
                  </div>
                </div>
              <br>
              <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.firstName" name="prénom" type="text" pInputText placeholder="Prénom">
                  </div>
                </div>
              <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.lastName" name="nom" type="text" pInputText placeholder="Nom">
                  </div>
                </div>
              <br>
              <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.birthDay" name="jour de naissance" type="date" pInputText placeholder="Jour de naissance">
                  </div>
                </div>
              <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignant.tel" name="tel" type="tel" pInputText placeholder="Numéro de téléphone">
                  </div>
                </div>
            </div>
              <br>
          <p-footer>
            <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="save()" label="Sauvegarder"></button>
            <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Annuler" class="ui-button-secondary"></button>
          </p-footer>
        </form>
      </p-dialog>
    </div>
    <div class="col-md-4">
      <input type="file" (change)="onFileChange($event)" multiple="false" />
    </div>
    <div class="col-md-4">
      <p-button label="Donwload example"  (click)="export()" icon="pi pi-download" ></p-button>
    </div>
    </div>
<br>
    <div>
  <div>
    <div class="table-responsive-sm">
      <p-table [columns]="cols" [value]="enseignants" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Image</th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td><img width="40" height="40" [src]="rowData.src" ></td>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          <p-button (click)="showBasicDialog2(rowData)" icon="pi pi-user-edit" styleClass="ui-button-info"></p-button>
            <p-dialog  header="modification d'un professeur" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
            <form style="text-align: center" method="POST" >
              <div style="display:inline-block" class="form-group">
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.numeroSOM" disabled  name="numeroSOM" type="text" pInputText  required>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.cin" disabled name="cin" type="text" pInputText >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.lastName" name="nom" type="text" pInputText >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.firstName" name="prénom" type="text" pInputText >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.mail" name="email" type="email" pInputText>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.birthDay" name="jour de naissance" type="date" pInputText>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="enseignantFounded.tel" name="tel" type="tel" pInputText >
                  </div>
                </div>
              </div>
              <br>
              <p-footer>
                <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="update()" label="Confirm"></button>
                <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic2=false" label="Cancel" class="ui-button-secondary"></button>
              </p-footer>
            </form>
          </p-dialog>
          <p-button icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteByNumeroSOM(rowData)"></p-button>
        </tr>
        </ng-template>
        </p-table>
    </div>
  </div>
  </div>
