
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color" >
      <a class="navbar-brand" href="#">
        <img src="" height="30" alt="mdb logo">
      </a>
      <!-- Navbar brand -->

      <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a  class="nav-link" style="color: #333333"><i class="pi pi-user" style="font-size: 30px"></i> Profile</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown mega-dropdown" mdbDropdown>
            <a mdbDropdownToggle class="nav-link dropdown-toggle" style="color: #333333"><i class="pi pi-list" style="font-size: 30px"></i>Filière</a>
            <div class="dropdown-menu mega-menu row z-depth-1">
              <div *ngFor="let s of sectors">
              <a href="#" style="color: #333333"><i class="pi pi-desktop" style="font-size: 1em"></i>{{s.libelle}}</a>
                <button pButton type="button" style="float: right" (click)="showBasicDialog2(s)"  icon="pi pi-user-edit" ></button>
              <div class="dropdown-divider"></div>
              </div>
              <button class="pi pi-plus" (click)="showBasicDialog()" pButton type="button" label="Ajouter une filière" ></button>
            </div>
          </li>
          <li class="nav-item">
            <a  class="nav-link" style="color: #333333"><i class="pi pi-users" style="font-size: 30px"></i>Étudiants</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" style="color: #333333"><i class="pi pi-star" style="font-size: 30px"></i>Enseignants</a>
          </li>
        </ul>
        <!-- Links -->
      </links>
      <!-- Collapsible content -->
      <i class="pi pi-bell" style="margin-left: 300px"></i>
      <i class="pi pi-sign-out" style="margin-right: 300px"></i>

    </nav>
    <!--/.Navbar-->
<p-dialog  header="Ajout d'une filière" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form style="text-align: center" method="POST" >
    <div style="display:inline-block" class="form-group">
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <input  placeholder="Libelle" [(ngModel)]="sector.libelle" name="libelle" type="text" pInputText  required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <select  name="Cycle"  [(ngModel)]="sector.cycle" required>
            <option *ngFor="let c of cycles" [ngValue]="c">{{c.libelle}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <select  name="Responsable"  [(ngModel)]="sectorManager.enseignant" required>
            <option *ngFor="let e of enseignants" [ngValue]="e" >{{e.lastName +" " + e.firstName }}</option>
          </select>
         </div>
      </div>
    </div>
    <br>
    <p-footer>
      <p-footer>
        <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="save()" label="Confirm"></button>
        <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Cancel" class="ui-button-secondary"></button>
      </p-footer>
    </p-footer>
  </form>
</p-dialog>
<p-dialog  header="Modification d'une filière" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form style="text-align: center" method="POST" >
    <div style="display:inline-block" class="form-group">
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <input disabled [(ngModel)]="sectorFounded.libelle" name="libelle" type="text" pInputText  required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <select name="Cycle"  [(ngModel)]="sectorFounded.cycle" required>
            <option *ngFor="let c of cycles" [ngValue]="c">{{c.libelle}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <select name="Responsable"  [(ngModel)]="sectorManager.enseignant" required>
            <option *ngFor="let e of enseignants" [ngValue]="e" >{{e.lastName +" " + e.firstName }}</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <p-footer>
      <p-footer>
        <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="update()" label="enregister"></button>
        <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="deleteByLibelle(sectorFounded)" label="Supprimer" class="ui-button-danger"></button>
      </p-footer>
    </p-footer>
  </form>
</p-dialog>

