@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$radius: 3px;
$border: #e2e2e2;


.item {
  position: relative;
  &:hover {
    background-color: #EDEDED;
    > .submenu {
      display: inline-block;
    }
  }
}

.submenu {
  width:100%;
  display: none;
  position: absolute;
  top: -2px;
  left: 100%;
  border-width: 1px 1px 1px 1px;
  border-style:solid;
  border-color: $border $border $border $border;
  border-radius: $radius;
  background-color: white;
  //box-shadow: 2px 2px 3px rgba(0,0,0,.25);
}
.iconColor {
  color: #A64D79;
  font-size: 22px;
}

.img-circular{
  width: 100px;
  height: 100px;
  background-image: url('https://media.istockphoto.com/vectors/user-men-icon-guys-profile-man-in-business-suit-with-a-tie-male-web-vector-id1131324870');
  background-size: cover;
  display: block;
}

button{
  border-radius: 8px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

