<p-toast [style]="{marginTop: '80px'}"></p-toast>
<br>
<div>
<button *ngIf="sectorManagerConnected.enseignant.numeroSOM == enseignantConnected.numeroSOM" type="button" style="float: left" (click)="showBasicDialog()" pButton icon="pi pi-plus" label="Ajouter un groupe"></button>
</div>
<div >
  <button type="button" style="float:right" href="/module" routerLink="/module" pButton icon="fa fa-external-link" label="Modules"></button>
  <p-dialog  header="Ajout un groupe" modal="true" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <form style="text-align: center" method="POST" (ngSubmit)="save()">
      <div style="display:inline-block" class="form-group">
        <div class="row">
          <div class="ui-inputgroup">
             <span class="ui-float-label" style="margin-top: 10px">
    <input id="float-input1" [(ngModel)]="groupe.libelle" name="libelle" formControlName="libelle" pKeyFilter="alpha" type="text" size="30" pInputText required="required">
    <label for="float-input1">libelle</label>
            </span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="ui-inputgroup">
            <p-multiSelect style="text-align: left" name="etudiants" defaultLabel="Choisir des étudiants" [options]="etudiants" [(ngModel)]="groupe.etudiants" optionLabel="label"></p-multiSelect>
          </div>
        </div>
      </div>
        <br>
      <p-footer>
        <button type="submit" pButton icon="pi pi-check" style="float: left" [disabled]="!userform.valid" label="Enregistrer"></button>
        <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Annuler" class="ui-button-secondary"></button>
      </p-footer>
    </form>
  </p-dialog>
</div>
<br><br>
<p-accordion *ngIf="sectorManagerConnected.enseignant.numeroSOM == enseignantConnected.numeroSOM" [(activeIndex)]="index">
  <div cdkDropListGroup>
    <p-accordionTab [selected]="true" header="Liste des étudiants sans groupe">
          <div cdkDropList [cdkDropListData]="etudiantsGroupe" class="example-list" (cdkDropListDropped)="drop($event)">
            <p-table [autoLayout]="true" [columns]="cols" [value]="etudiantsGroupe" [paginator]="true" [rows]="7">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>Image</th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr cdkDrag (cdkDragStarted)="onDrag(rowData)">
                  <td><img width="40" height="40" [src]="rowData.src"></td>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
    </p-accordionTab>
  <p-accordionTab *ngFor="let g of groupesFounded">
    <p-header>    &nbsp;&nbsp;<p-button  icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteByReference(g)"></p-button>&nbsp; {{g.libelle}}</p-header>
      <div cdkDropList [cdkDropListData]="g.etudiants" class="example-list" (cdkDropListDropped)="dropGroupe($event,g)">
        <p-table [autoLayout]="true" [columns]="cols" [value]="g.etudiants" [paginator]="true" [rows]="7">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Image</th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr cdkDrag (cdkDragStarted)="onDrag(rowData)">
              <td><img width="40" height="40" [src]="rowData.src"></td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
              <button pButton type="button" icon="pi pi-minus" (click)="remove(rowData)" class="ui-button-danger"></button>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </p-accordionTab>
  </div>
</p-accordion>
<p-accordion *ngIf="sectorManagerConnected.enseignant.numeroSOM != enseignantConnected.numeroSOM" [(activeIndex)]="index">
  <div>
  <p-accordionTab *ngFor="let g of groupesFounded">
    <p-header> {{g.libelle}}</p-header>
      <div class="example-list" >
        <p-table [autoLayout]="true" [columns]="cols" [value]="g.etudiants" [paginator]="true" [rows]="7">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Image</th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr >
              <td><img width="40" height="40" [src]="rowData.src"></td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </p-accordionTab>
  </div>
</p-accordion>
