<div style="margin-bottom: 1em">
  <button type="button" pButton icon="pi pi-chevron-up" (click)="openPrev()" style="margin-right:.25em"></button>
  <button type="button" pButton icon="pi pi-chevron-down" (click)="openNext()"></button>
  <button type="button" (click)="showBasicDialog()" pButton icon="pi pi-plus" label="Ajouter un groupe"></button>
  <p-dialog  header="Ajout un groupe" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <form style="text-align: center" method="POST">
      <div style="display:inline-block" class="form-group">
        <div class="row">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input [(ngModel)]="groupe.libelle" name="libelle" type="text" pInputText placeholder="Libelle" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <select placeholder="Selectioner une filière" name="Filière"   required>
              <option *ngFor="let s of sectors" [ngValue]="s">{{s.libelle}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <select placeholder="Selectioner un semestre" name="Semestre"   required>
              <option></option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          </div>
        </div>
      <p-footer>
        <button type="submit" pButton icon="pi pi-check" style="float: left"  label="Confirm"></button>
        <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Cancel" class="ui-button-secondary"></button>
      </p-footer>
      </div>
    </form>
  </p-dialog>
</div>

<p-accordion [(activeIndex)]="index">
  <div *ngFor="let g of groupes" cdkDropListGroup>
  <p-accordionTab header="Groupe1">
    <div class="table-responsive">
        <div class="example-container">
      <div
        cdkDropList
        [cdkDropListData]="g.etudiants"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
      <table  class="grid table table-bordered table-sortable">
        <thead>
        <tr>
          <th>Cne</th>
          <th>Cin</th>
          <th>code apogée</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Mail</th>
          <th>Jour de naissance</th>
          <th>Numéro de téléphone</th>
          <th>Absence</th>
        </tr>
        </thead>
        <tbody *ngFor="let g of groupes">
        <tr class="example-box" *ngFor="let e of g.etudiants" cdkDrag>
          <td>{{e.cne}}</td>
          <td>{{e.cin}}</td>
          <td>{{e.codeApogee}}</td>
          <td>{{e.firstName}}</td>
          <td>{{e.lastName}}</td>
          <td>{{e.mail}}</td>
          <td>{{e.birthDay}}</td>
          <td>{{e.tel}}</td>
          <td>{{e.nbrAbsence}}</td>
          <p-button icon="pi pi-trash" styleClass="ui-button-danger" ></p-button>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
      </div>
  </p-accordionTab>
  <p-accordionTab header="Godfather II">
    <div class="table-responsive">
      <div class="example-container">
        <div
          cdkDropList
          [cdkDropListData]="etudiants"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <table  class="grid table table-bordered table-sortable">
            <thead>
            <tr>
              <th>Cne</th>
              <th>Cin</th>
              <th>code apogee</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mail</th>
              <th>Birth day</th>
              <th>Phone Number</th>
              <th>Absence</th>
            </tr>
            </thead>
            <tbody>
            <tr class="example-box" *ngFor="let e of etudiants" cdkDrag>
              <td>{{e.cne}}</td>
              <td>{{e.cin}}</td>
              <td>{{e.codeApogee}}</td>
              <td>{{e.firstName}}</td>
              <td>{{e.lastName}}</td>
              <td>{{e.mail}}</td>
              <td>{{e.birthDay}}</td>
              <td>{{e.tel}}</td>
              <td>{{e.nbrAbsence}}</td>
              <p-button icon="pi pi-trash" styleClass="ui-button-danger" ></p-button>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </p-accordionTab>
  </div>
</p-accordion>
