
<div class="hero-image" >
  <div class="hero-text">
    <h1 style="font-size:50px">Bienvenue !</h1>
    <p>Ce projet est sous forme d’une application web qui permet d'administrer un établissement scolaire ou un ensemble des étudiants. Toutes les informations liées aux étudiants et enseignants peuvent être saisies à commencer par leurs noms, photos, coordonnées et autres informations mais aussi principalement les absences de ces étudiants, avec la possibilité de les justifier eux même par séance. De plus, Il offre la possibilité de gérer les filières, semestres, groupes, et modules ainsi les données relatives aux ressources humaines avec les absences et les emplois du temps des enseignants ou encore leurs stratégies de rémunération. Enfin, il permet un suivi des avancements de formation avec des diagrammes permettant de faciliter la prise de décision.</p>
    <button routerLink="/login" style="background-color: #b790b9">login</button>
  </div>
</div>

