
<div class="hero-image" >
  <div class="hero-text">
    <h1 style="font-size:50px">Bienvenue</h1>
    <p>Ce projet est une application web qui permet d'administrer un établissement scolaire ou un ensemble des étudiants. Toutes les informations liées aux utilisateurs peuvent être saisies y compris leurs noms, photos, coordonnées… Mais ce qui est principale à souligner est l’absentéisme des étudiants et la possibilité de le justifier. En outre elle offre l’accès à la gestion des filières, semestres, groupes, et modules ainsi que les données relatives aux ressources humaines comme étant les absences et les emplois du temps des enseignants voire même leurs stratégies de rémunération. Par ailleurs, elle permet de suivre les avancements de formation avec des diagrammes afin de faciliter la prise de décision.
      L’application peut être utilisée dans le contexte universitaire, donnant à la subjectivité de l’enseignant de gérer les absences. Elle vise en premier temps les enseignants outre que les étudiants du département informatique de la FSTG.</p>
    <button routerLink="/login" style="background-color: #b790b9">login</button>
  </div>
</div>

