<p-table [columns]="cols" [value]="absences" [paginator]="true" [rows]="7">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" >
        {{col.header}}
      </th>
      <th>Absence</th>
      <th>Justification</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData.etudiant[col.field]}}
      </td>
      <td style="align-content: center"><p-selectButton  [options]="types" [(ngModel)]="rowData.absent" (onChange)="update(rowData)" ></p-selectButton></td>
      <td>{{rowData.justification}}</td>
    </tr>
  </ng-template>
</p-table>
