<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" >Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
          Filière
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">Étudiants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Enseignants</a>
      </li>
    </ul>
    <!--ul class="navbar-nav navbar-right">

    </ul-->
  </div>
</nav>


