<br>
<div class="row" >
  <div class="col-sm-4" *ngFor="let e of etudiants">
    <div class="card text-center">
      <div class="card-body  back">
        <h5 class="card-title">{{e.firstName}}Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer">
        <button  pButton type="button" icon="pi pi-info"></button>&nbsp;&nbsp;
        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"></button>
      </div>
    </div>
    <br>
  </div>
</div>
