<div class="card">
<img [src]="enseignantConnected.src" >
  <div class="col-md-6">
    <input type="file" (change)="onFileChanged($event)">
  </div>
</div>
<form style="text-align: center" method="POST" >
  <div style="display:inline-block" class="form-group">
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" ><i class="pi pi-id-card" ></i></span>
        <h5>Cin:</h5>
        <input [(ngModel)]="enseignantConnected.cin" disabled  name="cin" type="text" pInputText  required style="margin-left: 100px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" ><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
        <h5>N°SOM:</h5>
        <input  disabled [(ngModel)]="enseignantConnected.numeroSOM" name="numeroSOM" type="number" pInputText style="margin-left: 100px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit" style="line-height: 1.25;"></i></span>
        <h5>Nom:</h5>
        <input [(ngModel)]="enseignantConnected.lastName" name="firstName" type="text" pInputText style="margin-left: 35px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit" style="line-height: 1.25;"></i></span>
        <h5>Prénom:</h5>
        <input [(ngModel)]="enseignantConnected.firstName" name="lastName" type="text" pInputText style="margin-left: 35px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit" style="line-height: 1.25;"></i></span>
        <h5>Email:</h5>
        <input [(ngModel)]="enseignantConnected.mail" name="mail" type="text" pInputText style="margin-left: 90px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <h5>J.Naissance:</h5>
        <input [(ngModel)]="enseignantConnected.birthDay" name="birthDay" type="date" pInputText style="margin-left: 45px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-mobile" style="line-height: 1.25;"></i></span>
        <h5>Tél:</h5>
        <input [(ngModel)]="enseignantConnected.tel" name="tel" type="tel" pInputText style="margin-left: 100px;">
      </div>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" style="margin-left: 410px;"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
        <h5>password:</h5>
        <button type="submit" pButton (click)="showBasicDialog()" icon="pi pi-update" style="float: left"  label="Change password" style="margin-left: 50px;"></button>
        <p-dialog  header="Change your password" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
          <form style="text-align: center" method="POST" >
            <div style="display:inline-block" class="form-group">
              <div class="row">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                  <input [(ngModel)]="currentPassword" name="matricule" type="password" pInputText placeholder="current password" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                  <input [(ngModel)]="password" name="cin" type="password" pInputText placeholder="new password">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                  <input [(ngModel)]="passwordConfirm" name="firstName" type="password" pInputText placeholder="confirm new password">
                </div>
              </div>
              <br>
              <button (click)="updatePassword()" type="submit" pButton  icon="pi pi-check" style="float: left"   style="margin-left: 50px;"></button>
            </div>
          </form>
        </p-dialog>
    <br>
      <button type="submit" pButton (click)="showBasicDialog2()" icon="pi pi-check" style="float: left"  label="Update" style="margin-left: 50px;"></button>
      <p-dialog  header="Modification" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <form style="text-align: center" method="POST" >
          <div style="display:inline-block" class="form-group">
            <div class="row">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                <input [(ngModel)]="passwordUpdate" name="matricule" type="password" pInputText placeholder="enter your password" required>
              </div>
            </div>
            <br>
            <button type="submit" (click)="update()" pButton  icon="pi pi-check" style="float: left"   style="margin-left: 50px;"></button>
          </div>
        </form>
      </p-dialog>
  </div>
  </div>
</form>
