<div class="card">
<img #img [src]="etudiantConnected.src" >
  <input type="file" (change)="onFileChanged($event)">
</div>
<form style="text-align: center" method="POST" >
  <div style="display:inline-block" class="form-group">
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" ><i class="pi pi-id-card" ></i></span>
        <h5>Cin:</h5>
        <input  disabled [(ngModel)]="etudiantConnected.cin" name="cin" type="text" pInputText  required style="margin-left: 100px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" ><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
        <h5>Cne:</h5>
        <input [(ngModel)]="etudiantConnected.cne" disabled name="cne" type="text" pInputText style="margin-left: 100px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
        <h5>Code Apogee:</h5>
        <input [(ngModel)]="etudiantConnected.codeApogee" disabled name="codeApogee" type="text" pInputText style="margin-left: 10px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit" style="line-height: 1.25;"></i></span>
        <h5>First Name:</h5>
        <input [(ngModel)]="etudiantConnected.firstName" name="firstName" type="text" pInputText style="margin-left: 35px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit" style="line-height: 1.25;"></i></span>
        <h5>Last Name:</h5>
        <input [(ngModel)]="etudiantConnected.lastName" name="lastName" type="text" pInputText style="margin-left: 35px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user-edit" style="line-height: 1.25;"></i></span>
        <h5>Mail:</h5>
        <input [(ngModel)]="etudiantConnected.mail" name="mail" type="text" pInputText style="margin-left: 90px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <h5>Birth date:</h5>
        <input [(ngModel)]="etudiantConnected.birthDay" name="birthDay" type="date" pInputText style="margin-left: 45px;">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-mobile" style="line-height: 1.25;"></i></span>
        <h5>Tél:</h5>
        <input [(ngModel)]="etudiantConnected.tel" name="tel" type="tel" pInputText style="margin-left: 100px;">
      </div>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" style="margin-left: 410px;"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
        <h5>password:</h5>
        <button type="button" pButton (click)="showBasicDialog()" icon="pi pi-update"   label="Changer le mot de passe" style="margin-left: 50px;"></button>
        <p-dialog  header="Changement le mot de passe" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
          <form style="text-align: center" method="POST" >
            <div style="display:inline-block" class="form-group">
              <div class="row">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                  <input [(ngModel)]="currentPassword" name="currentPassword" type="password" pInputText placeholder="Mot de passe actuel" required>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                  <input [(ngModel)]="password" name="cin" type="password" pInputText placeholder="Nouveau mot de passe">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                  <input [(ngModel)]="passwordConfirm" name="ConfirmPassword" type="password" pInputText placeholder="Confirmer mot de passe">
                </div>
              </div>
              <br>
              <button type="submit" pButton  (click)="updatePassword()" icon="pi pi-check" style="float: left"   style="margin-left: 50px;"></button>
            </div>
          </form>
        </p-dialog>
    <br>
      <button type="submit" pButton (click)="showBasicDialog2()" icon="pi pi-check"   label="Modifier" style="margin-left: 50px;"></button>
      <p-dialog  header="Confirmer modification" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <form style="text-align: center" method="POST" >
          <div style="display:inline-block" class="form-group">
            <div class="row">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                <input  name="passwordUpdate" [(ngModel)]="passwordUpdate" type="password" pInputText placeholder="enter your password" required>
              </div>
            </div>
            <br>
            <button type="submit" pButton (click)="update()" icon="pi pi-check" style="float: left"   style="margin-left: 50px;"></button>
          </div>
        </form>
      </p-dialog>
    </div>
  </div>
</form>
