
p {
  font-family: Lato;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-form-field {
  width: 100%;
}
.col-sm-6{
  padding: 100px;
  text-align: center;
  height: 560px;
}

.HD{
  background-color: #EDEDED;
}

.text-lowercase{
  text-align: center;
  background-color: #EDEDED;
}

