<div class="row" style="display:flex; align-items:center; justify-content:center; height:100%">
  <p-panel header="Espace étudiant" class="col-sm-6" >
    <div  style="display:flex; align-items:center; justify-content:center; flex-direction:column">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input name="codeApogee" [(ngModel)]="etudiantConnected.cne" type="text" pInputText placeholder="Cne" />
      </div>
      <br>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input name="mail" [(ngModel)]="etudiantConnected.mail" type="text" pInputText placeholder="Email" />
      </div>
      <br>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
        <input name="mot de passe" [(ngModel)]="etudiantConnected.password" type="password" pPassword placeholder="Mot de passe" />
      </div>
      <br>
      <div class="ui-inputgroup">
        <button (click)="loginEtu()" pButton type="button" label="Login" class="ui-button-rounded ui-button-info"></button>
      </div>
    </div>
  </p-panel>
  <p-panel header="Espace enseignant" class="col-sm-6" >
    <div  style="display:flex; align-items:center; justify-content:center; flex-direction:column">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input name="numeroSom" [(ngModel)]="enseignantConnected.numeroSOM" type="text" pInputText placeholder="N°SOM" />
      </div>
      <br>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input name="email" [(ngModel)]="enseignantConnected.mail" type="text" pInputText placeholder="Email" />
      </div>
      <br>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
        <input name="mot de passe" [(ngModel)]="enseignantConnected.password" type="password" pPassword placeholder="Mot de passe" />
      </div>
      <br>
      <div class="ui-inputgroup">
        <button (click)="loginEns()" pButton type="button" label="Login" class="ui-button-rounded ui-button-info"></button>
      </div>
    </div>
  </p-panel>
</div>
