<div class="hero-image" >
  <div class="hero-text">
  <p-card class="col-sm-6"  [style]="{height: '500px'}">
      <p-messages [(value)]="msgs"></p-messages>
    <div  style="display:flex; align-items:center; justify-content:center; flex-direction:column" class="St">
      <img src="/assets/images/CAU1.png" style="width: 120px;">
      <br>
      <div class="ui-inputgroup">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" [(ngModel)]="username"  type="text" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              S'il vous plaît, entrez une adresse email valide
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email est<strong>Important</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="ui-inputgroup">
        <mat-form-field class="example-full-width">
          <mat-label>Mot De Passe</mat-label>
          <input matInput placeholder="Entrer votre mot de passe" [(ngModel)]="password" type="password">
        </mat-form-field>
      </div>
      <br>
      <div>
        <button (click)="checkLogin()" pButton type="button" label="Connexion" class="ui-button-raised" style="background-color: #b790b9"></button>
      </div>
    </div>
  </p-card>
  </div>
</div>

