<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color: #63C7F2">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <p>Ce projet est sous forme d’une application web qui permet d'administrer un établissement scolaire ou un ensemble des étudiants. Toutes les informations liées aux étudiants et enseignants peuvent être saisies à commencer par leurs noms, photos, coordonnées et autres informations mais aussi principalement les absences de ces étudiants, avec la possibilité de les justifier eux même par séance. De plus, Il offre la possibilité de gérer les filières, semestres, groupes, et modules ainsi les données relatives aux ressources humaines avec les absences et les emplois du temps des enseignants ou encore leurs stratégies de rémunération. Enfin, il permet un suivi des avancements de formation avec des diagrammes permettant de faciliter la prise de décision.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3">
        <p>
          <i class="fa fa-phone icon"></i> TEL:(+212) 524 43 34 04 </p>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p>
          <a href="https://www.google.com/maps/place/Faculty+of+Sciences+and+Technologies/@31.6445494,-8.0202803,15z/data=!4m5!3m4!1s0x0:0x2dca05e37a64f83b!8m2!3d31.6445494!4d-8.0202803" style="color: black"><i class="fa fa-map-marker icon"></i>B.P 549, Av.Abdelkarim Elkhattabi, Gueliz Marrakech</a></p>

      </div>
        <div class="col-md-3">
          <p>
            <i class="fa fa-fax icon"></i>Fax:(+212) 524 43 31 70</p>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
          <p>
            <i class="fa fa-envelope icon"></i> Fstg@uca.ma
          </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
      <a href="#"></a>
    </div>
  </div>
  <!-- Footer Text -->
  <!-- Copyright -->

</footer>
<!-- Footer -->
