
title {
  color: grey;
  font-size: 18px;
}


img {
  border-radius: 50%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://media.istockphoto.com/vectors/user-men-icon-guys-profile-man-in-business-suit-with-a-tie-male-web-vector-id1131324870');
  background-size: cover;
}
