<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <div class="row">
        <div class="col-md-3">
          <button type="button" (click)="showBasicDialog()" pButton icon="pi pi-plus" label="Add a student"></button>
          <p-dialog  header="Add a new student" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
            <form style="text-align: center" method="POST" ngNativeValidate>
              <div style="display:inline-block" class="form-group">
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="etudiant.cne" name="cne" type="text" pInputText placeholder="Cne" required>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="etudiant.codeApogee" name="codeApogee" type="number" pInputText placeholder="Code Apogee">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="etudiant.cin" name="cin" type="text" pInputText placeholder="Cin">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="etudiant.firstName" name="firstName" type="text" pInputText placeholder="First name">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="etudiant.lastName" name="lastName" type="text" pInputText placeholder="Last name">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="etudiant.birthDay" name="birthDay" type="date" pInputText placeholder="Birth day">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input [(ngModel)]="etudiant.tel" name="tel" type="tel" pInputText placeholder="Phone number">
                  </div>
                </div>
              </div>
              <br>
              <p-footer>
                <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="save()" label="Confirm"></button>
                <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Cancel" class="ui-button-secondary"></button>
              </p-footer>

            </form>
          </p-dialog>
          <p-messages [value]="msgs">msg</p-messages>
        </div>

        <div class="col-md-3">
          <p-button label="Import file" styleClass="ui-button-success" icon="pi pi-upload" ></p-button>
          <input type="file" (change)="onFileChange($event)" multiple="false" />
        </div>
        <div class="col-md-3">
          <p-button label="Donwload example" styleClass="ui-button-warning" (click)="export()" icon="pi pi-download" ></p-button>
        </div>
        <div class="col-md-3">
<span class="ui-float-label">
    <input id="disabled-input" type="text" size="15" pInputText>
    <label for="disabled-input">Search</label>
    <p-button icon="pi pi-search" styleClass="ui-button-secondary"></p-button>
</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <table  class="grid table table-bordered table-sortable">
            <thead>
            <tr>
              <th>Cne</th>
              <th>Cin</th>
              <th>code apogee</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mail</th>
              <th>Birth day</th>
              <th>Phone Number</th>
              <th>Absence</th>
              <th>Filiere</th>
              <th>groupe</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of etudiants">
              <td>{{e.cne}}</td>
              <td>{{e.cin}}</td>
              <td>{{e.codeApogee}}</td>
              <td>{{e.firstName}}</td>
              <td>{{e.lastName}}</td>
              <td>{{e.mail}}</td>
              <td>{{e.birthDay}}</td>
              <td>{{e.tel}}</td>
              <td>{{e.nbrAbsence}}</td>
              <td></td>
              <td></td>
              <p-button icon="pi pi-user-edit" (click)="showBasicDialog2(e)" styleClass="ui-button-info"></p-button>
              <p-dialog  header="Edit student" [(visible)]="displayBasic2" [style]="{width: '50vw'}" [baseZIndex]="10000">
                <form style="text-align: center" method="POST" ngNativeValidate>
                  <div style="display:inline-block" class="form-group">
                    <div class="row">
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input [(ngModel)]="etudiantFounded.cne" disabled  name="cne" type="text" pInputText  required>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input [(ngModel)]="etudiantFounded.cin" disabled name="cin" type="text" pInputText >
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input [(ngModel)]="etudiantFounded.codeApogee" disabled  name="codeApogee" type="number" pInputText  required>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input [(ngModel)]="etudiantFounded.firstName" name="firstName" type="text" pInputText >
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input [(ngModel)]="etudiantFounded.lastName" name="lastName" type="text" pInputText >
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input [(ngModel)]="etudiantFounded.birthDay" name="birthDay" type="date" pInputText>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                        <input [(ngModel)]="etudiantFounded.tel" name="tel" type="tel" pInputText >
                      </div>
                    </div>
                  </div>
                  <br>
                  <p-footer>
                    <button type="submit" pButton icon="pi pi-check" style="float: left" (click)="update()" label="Confirm"></button>
                    <button type="reset" pButton icon="pi pi-times" style="float: right" (click)="displayBasic=false" label="Cancel" class="ui-button-secondary"></button>
                  </p-footer>
                </form>
              </p-dialog>
              <p-button icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteByCne(e)"></p-button>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

