<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<p-sidebar [(visible)]="display" [style]="{width:'14em'}">
    <p-header>
      <img src="" >
      Last Name First Name
    </p-header>
    <p>CIN - N°SOM <br> Email <br>Tél <br> J.Naissance </p>
    <p-footer>
      <button class="ui-button-rounded ui-button-info" pButton label="Plus d'info"></button>
    </p-footer>
</p-sidebar>

<button type="text" (click)="Show()" pButton icon="pi pi-plus" label="Show"></button>
