<p-toast [style]="{marginTop: '80px'}"></p-toast>
<br>
<div>
  <button *ngIf="sectorManagerConnected.enseignant.numeroSOM == enseignantConnected.numeroSOM" (click)="showBasicDialog()" pButton icon="pi pi-plus" label="Ajouter un module"></button>
  <button type="button" style="float:right;" href="/groupe" routerLink="/groupe" pButton icon="fa fa-external-link" label="Groupes"></button>

</div>
<br><br>
<div class="row" *ngIf="sectorManagerConnected.enseignant.numeroSOM != enseignantConnected.numeroSOM" >
  <div  class="col-sm-4" *ngFor="let m of modulesConnected">
    <div class="card text-center">
      <div class="card-body  back">
        <h5 class="card-title">{{m.abreveation}}</h5>
        <p class="card-text">{{m.libelle}}</p>
        <button type="button" style="float:left;"  pButton (click)="goToSession(m)" icon="fa fa-external-link" label="Voir les séances"></button>
      </div>
      <p-fieldset legend="Types séance" (onBeforeToggle)="showBasicDialog2(m)" [toggleable]="true" collapsed="false">
        <div>
          <div >
            <p-table [autoLayout]="true"  [columns]="cols" [value]="m.typeSessions" [paginator]="true" [rows]="7">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <th>
                    Matière
                    <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <th>
                    Enseignant
                    <p-sortIcon ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td *ngIf="rowData.subject">{{rowData.subject.libelle}}</td>
                  <td *ngIf="rowData.subject == null "></td>
                  <td *ngIf="rowData.enseignant">{{rowData.enseignant.lastName}} {{rowData.enseignant.firstName}}</td>
                  <td *ngIf="rowData.enseignant == null "></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-fieldset>
    </div>
    <br>
  </div>
</div>
<div class="row" *ngIf="sectorManagerConnected.enseignant.numeroSOM == enseignantConnected.numeroSOM" >
  <div  class="col-sm-4" *ngFor="let m of modules">
    <div class="card text-center">
      <div class="card-body  back">
        <h5 class="card-title">{{m.abreveation}}</h5>
        <p class="card-text">{{m.libelle}}</p>
        <button type="button" style="float:left;"  pButton (click)="goToSession(m)" icon="fa fa-external-link" label="Voir les séances"></button>
        <button (click)="deleteByLibelle(m)" pButton type="button" icon="pi pi-trash" iconPos="left" style="float: right" label="Supprimer" class="ui-button-danger"></button>
      </div>
      <br>
      <p-fieldset legend="Types séance" (onBeforeToggle)="showBasicDialog2(m)" [toggleable]="true" collapsed="false">
        <div >
          <div class=" row justify-content-center">
            <button *ngIf="sectorManagerConnected.enseignant.numeroSOM == enseignantConnected.numeroSOM" (click)="showBasicDialog3(m)" class="btn btn-info" >Ajouter un type séance</button>
          </div>
          <br>
          <div >
            <p-table [autoLayout]="true"  [columns]="cols" [value]="m.typeSessions" [paginator]="true" [rows]="7">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <th>
                    Matière
                    <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <th>
                    Enseignant
                    <p-sortIcon ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <th>
                    Groupes
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td *ngIf="rowData.subject">{{rowData.subject.libelle}}</td>
                  <td *ngIf="rowData.subject == null "></td>
                  <td *ngIf="rowData.enseignant" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="enseignant" [options]="enseignants" [(ngModel)]="typeSession.enseignant" optionLabel="label" [placeholder]="rowData.enseignant.lastName + ' ' + rowData.enseignant.firstName"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData.enseignant.lastName + " " + rowData.enseignant.firstName}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td *ngIf="rowData.enseignant == null" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-dropdown name="enseignant" [options]="enseignants" [(ngModel)]="typeSession.enseignant" optionLabel="label"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td *ngIf="rowData.groupes" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-multiSelect name="groupes" tooltipPosition="bottom" [options]="groupesFounded" [(ngModel)]="rowData.groupes"  optionLabel="libelle"></p-multiSelect>
                      </ng-template>
                      <ng-template pTemplate="output">
                        <p *ngFor="let g of rowData.groupes">
                          {{g.libelle}}&nbsp;
                        </p>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td *ngIf="rowData.groupes == null" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-multiSelect name="groupes" tooltipPosition="bottom" [options]="groupesFounded" [(ngModel)]="rowData.groupes" optionLabel="libelle" [defaultLabel]="rowData.groupes" overlayVisible="true" baseZIndex="150" styleClass="ui-multiselect-label"></p-multiSelect>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <p-button (click)="update(rowData)" icon="pi pi-user-edit" styleClass="ui-button-info"></p-button>
                  <p-button icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="deleteByReference(rowData)"></p-button>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-fieldset>
    </div>
    <br>
  </div>
</div>
<p-dialog  header="Ajout d'un module" modal="true" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form style="text-align: center" method="POST" [formGroup]="userform" (ngSubmit)="save()">
    <div style="display:inline-block" class="form-group">
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-float-label" style="margin-top: 10px">
    <input id="float-input1"  [(ngModel)]="module.libelle" name="libelle" type="text" size="30" formControlName="libelle" pKeyFilter="alpha" pInputText required="required">
    <label for="float-input1">libelle</label>
            </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <span class="ui-float-label">
    <input id="float-input2"  [(ngModel)]="module.abreveation" name="abreveation" formControlName="abreviation" pKeyFilter="alpha" type="text" size="30" pInputText required="required">
    <label for="float-input2">abréviation</label>
            </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
           <span class="ui-float-label">
    <input id="float-input3"  [(ngModel)]="subject.libelle" pKeyFilter="alpha" name="subject" type="text" size="30" pInputText required="required">
    <label for="float-input3">Ajouter une matière</label>
            </span>
        </div>&nbsp;
        <div>
        <button pButton class="ui-button-success" (click)="addSubject()" icon="pi pi-plus"></button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <p-multiSelect name="etudiants" editable="true" formControlName="subject" defaultLabel="Choisir des matières" [options]="subjects" [(ngModel)]="module.subjects" optionLabel="libelle"></p-multiSelect>
        </div>
      </div>
    </div>
    <br>
    <p-footer>
      <button type="submit" pButton icon="pi pi-check" style="float: left" label="Enregistrer"></button>
      <button type="button" pButton icon="pi pi-times" style="float: right"   class="ui-button-secondary"(click)="displayBasic=false" label="Annuler" class="ui-button-secondary"></button>
    </p-footer>
  </form>
</p-dialog>
<p-dialog  header="Ajout d'un type de séance" modal="true" (close)="onClose()" [(visible)]="displayBasic3" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <form style="text-align: center" method="POST" (ngSubmit)="addTypeSession()" [formGroup]="userform2">
    <div style="display:inline-block" class="form-group">
      <div class="row">
        <div class="ui-inputgroup">
          <p-selectButton name="libelle" [options]="libelles" [(ngModel)]="typeSession.libelle" formControlName="libelle" pKeyFilter="alpha"></p-selectButton>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <p-dropdown name="subject" [options]="subjectsFounded" [(ngModel)]="typeSession.subject" formControlName="subject" placeholder="Choisir une matière" optionLabel="libelle"></p-dropdown>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <p-dropdown name="enseignant" [options]="enseignants" [(ngModel)]="typeSession.enseignant" formControlName="enseignant" placeholder="Choisir une enseignant" optionLabel="label"></p-dropdown>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="ui-inputgroup">
          <p-multiSelect name="groupes" defaultLabel="Choisir des groupes" [options]="groupesFounded" [(ngModel)]="typeSession.groupes" formControlName="groupe" optionLabel="libelle"></p-multiSelect>
        </div>
      </div>
    </div>
    <br>
    <p-footer>
      <button type="submit" pButton icon="pi pi-check" style="float: left"  label="Enregistrer"></button>
      <button type="button" pButton icon="pi pi-times" style="float: right"   class="ui-button-secondary"(click)="displayBasic3=false" label="Annuler" class="ui-button-secondary"></button>
    </p-footer>
  </form>
</p-dialog>



